.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background: linear-gradient(180deg, rgba(0,82,124,1) 0%, rgba(0,81,122,1) 100%);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #00E083;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
  color: #00527c;
  
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
